*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: lightblue;
    padding: 0 15rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btnNote{
    padding: .5rem;
    letter-spacing: 3px;
}
.note{
    position: absolute;
    padding: .5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    top: 3px;
    left: 50px;
}
.yellow{
    background-color: lightgoldenrodyellow;
}
.blue{
    background-color: lightblue;
}
.pink{
    background-color: lightpink;
}
.text{
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
}
.text:focus{
    outline: none;
}
.move{
    width: 20px;
    height: 20px;
}
.ico{
    width: 100%;
    height: 100%;
}
.note__container{
    display: flex;
    justify-content: space-between;
}